<ion-header>
  <ion-toolbar>
    <ion-title>chat</ion-title>
    <ion-title slot="end" (click)="logout()">Logout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let chat of usersInfo" lines="none" (click)="openChat(chat)">
      <div class="borderBottomLine"></div>
      <div class="listSection">
        <div class="UserimgSection">
          <ion-avatar class="chatImage" slot="start">
            <ion-img [src]="chat.image"></ion-img>
            <span class="onlineOffline_icon" style="background-color:#4cd137"></span>
          </ion-avatar>
        </div>
        <div class="usernameSection" padding-start padding>
          <h5>
            <ion-icon style="position: relative; top: 2px;" name="people" color="medium"></ion-icon>
            {{chat.givenName}} {{chat.familyName}}
          </h5>
          <p *ngIf="chat.sent.length > 0" class="descText" no-margin no-padding>{{chat.sent[0].message}}</p>
        </div>
      </div>
      <div slot="end" class="lastSection">
        <ion-note class="sendTime">{{chat.timestamp}}</ion-note>
        <ion-badge *ngIf="chat.sent.length > 0" slot="end" class="userBadge">{{chat.sent.length}}</ion-badge>
      </div>
  
    </ion-item>
  </ion-list>

  
</ion-content>