<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-pages">chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let chat of chatsReceived" lines="none" (click)="openChat(chat)">
      <div class="borderBottomLine"></div>
      <div class="listSection">
        <div class="UserimgSection">
          <ion-avatar class="chatImage" slot="start">
            <ion-img *ngIf="chat.avatar" [src]="chat.avatar"></ion-img>
            <ion-img *ngIf="!chat.avatar" src="assets/icon/img_avatar2.png"></ion-img>
            <span class="onlineOffline_icon" [ngStyle]="{'background-color': chat.connected ? '#4cd137':'grey'}"></span>
          </ion-avatar>
        </div>
        <div class="usernameSection" padding-start padding>
          <h5>
            <ion-icon style="position: relative; top: 2px;" name="people" color="medium"></ion-icon>
            {{chat.givenName}} {{chat.familyName}}
          </h5>
          <p *ngIf="chat.message != null" class="descText" no-margin no-padding>{{chat.message}}</p>
        </div>
      </div>
      <div slot="end" class="lastSection">
        <ion-note class="sendTime">{{chat.timestamp}}</ion-note>
        <ion-badge *ngIf="chat.counter > 0" slot="end" class="userBadge">{{chat.counter}}</ion-badge>
      </div>

    </ion-item>
  </ion-list>


</ion-content>