<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="id01" class="modal">
  
    <div class="modal-content animate">
      <div class="imgcontainer">
        <img src="assets/icon/img_avatar2.png" alt="Avatar" class="avatar">
      </div>
  
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" [(ngModel)]="username" required>
  
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" [(ngModel)]="password" required>
          
        <button type="submit" (click)="login()">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>
  
      <div class="container" style="background-color:#f1f1f1">
        <button type="button">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </div>
  </div>

</ion-content>