<ion-header translucent style="background-color: #2f517c;">
    <ion-toolbar>
        <ion-icon ios="ios-close-circle" md="md-close-circle" (click)="dismiss()" slot="end"></ion-icon>
        <ion-title color="light" text-center (click)="dismiss()">
            Chat
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content #IonContent fullscreen="true">
    <ion-list>
        <div *ngFor="let chat of msgList; let i = index; ">
            <ion-row *ngIf="chat.userId === 'User'">
                <ion-col class="right" no-padding
                    [ngClass]="{'clubbed':((msgList[i+1] && msgList[i+1].userId != chat.userId)|| !msgList[i+1])}">
                    <div class="imageAvatarRight">
                        <div class="imageAvatarBottom">
                            <ion-avatar class="avatar"
                                [ngClass]="(msgList[i+1] && msgList[i+1].userId === chat.userId)?'hidden':''">
                                <div class="imageAvatarBottomIcon">
                                    <ion-icon name="add" expand="icon-only" color="light"> </ion-icon>
                                </div>
                                <ion-img *ngIf="chat.userAvatar" [src]="chat.userAvatar"></ion-img>
                                <ion-img *ngIf="!chat.userAvatar" src="assets/icon/img_avatar2.png"></ion-img>
                            </ion-avatar>
                        </div>
                        <ion-label *ngIf="chat.type === 'text'" class="label-message" color="light">
                            <div class="chatDiv" [ngClass]="{'sharper':((msgList[i+1] && msgList[i+1].userId === chat.userId) && 
                (msgList[i-1] && msgList[i-1].userId === chat.userId)),
                'sharper-top':(msgList[i-1] && msgList[i-1].userId === chat.userId),
                'sharper-bottom':(msgList[i+1] && msgList[i+1].userId === chat.userId)}">
                                <p class="message" text-wrap padding>{{chat.message}}
                                </p>
                                <div class="corner-parent-right">
                                    <div class="corner-child-right">

                                    </div>
                                </div>
                            </div>
                        </ion-label>
                        <img [src]="chat.message" *ngIf="chat.type === 'image'" class="image-message">
                        <audio *ngIf="chat.type === 'audio'" controls [src]="chat.message" class="audio-class"></audio>
                        <video *ngIf="chat.type === 'video'" controls [src]="chat.message" class="video-class"></video>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="chat.userId === 'toUser'">
                <ion-col class="left" no-padding
                    [ngClass]="{'clubbed':((msgList[i+1] && msgList[i+1].userId != chat.userId)|| !msgList[i+1])}">
                    <div class="imageAvatarLeft">
                        <ion-label *ngIf="chat.type === 'text'" class="label-message" color="light">
                            <div class="chatDiv" [ngClass]="{'sharper':((msgList[i+1] && msgList[i+1].userId === chat.userId) && 
                (msgList[i-1] && msgList[i-1].userId === chat.userId)),
                'sharper-top':(msgList[i-1] && msgList[i-1].userId === chat.userId),
                'sharper-bottom':(msgList[i+1] && msgList[i+1].userId === chat.userId)}">
                                <p class="message" text-wrap padding>{{chat.message}}</p>
                                <div class="corner-parent-left">
                                    <div class="corner-child-left">

                                    </div>
                                </div>
                            </div>
                        </ion-label>
                        <img [src]="chat.message" *ngIf="chat.type === 'image'" class="image-message">
                        <audio *ngIf="chat.type === 'audio'" controls [src]="chat.message" class="audio-class"></audio>
                        <video *ngIf="chat.type === 'video'" controls [src]="chat.message" class="video-class"></video>
                        <div class="imageAvatarBottom">
                            <!-- <ion-icon class="imageAvatarBottomIcon" name="add" expand="icon-only" color="success"></ion-icon> -->
                            <ion-avatar class="avatar"
                                [ngClass]="(msgList[i+1] && msgList[i+1].userId === chat.userId)?'hidden':''">
                                <div class="imageAvatarBottomIcon">
                                    <ion-icon name="add" expand="icon-only" color="light"> </ion-icon>
                                </div>
                                <ion-img *ngIf="chat.userAvatar" [src]="chat.userAvatar"></ion-img>
                                <ion-img *ngIf="!chat.userAvatar" src="assets/icon/img_avatar2.png"></ion-img>
                            </ion-avatar>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="((msgList[i+1] && msgList[i+1].userId != chat.userId)|| !msgList[i+1])">
                <ion-col>
                    <ion-text>{{chat.time}}</ion-text>
                </ion-col>
            </ion-row>
        </div>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)=" sendMessageTo()">
            <ion-icon name="send" expand="icon-only"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>

<ion-footer style="background-color: #2f517c;" translucent>
    <ion-item>
        <ion-icon slot="start" name="camera" expand="icon-only" class="footerIcon" (click)="selectVideoOption()"></ion-icon>
        <input style="display: none;" #cameraInput type="file" (change)="handleImage($event)" accept="image/*">
        <input style="display: none;" #audioInput type="file" (change)="handleAudio($event)" accept="audio/*">
        <input style="display: none;" #videoInput type="file" (change)="handleVideo($event)" accept="video/*">
        <ion-icon *ngIf="!recording" slot="start" name="mic" expand="icon-only" class="footerIcon" (click)="selectAudioOption()"></ion-icon>
        <ion-icon *ngIf="recording" slot="start" name="mic-off" expand="icon-only" class="footerIcon"></ion-icon>
        <ion-input class="input-box" type="text" placeholder="Write a message..." (keyup.enter)="sendMessageTo()" [(ngModel)]="userInput"
            ></ion-input>
    </ion-item>
</ion-footer>
