<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 100%;">
    <ion-row style="height: calc(100% - 81px);">
      <ion-col style="align-self: center;">
        <ion-item lines="full">
          <ion-label position="floating">First name</ion-label>
          <ion-input type="text" [(ngModel)]="firstname" required></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Last name</ion-label>
          <ion-input type="text" [(ngModel)]="lastname" required></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="email" required></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-footer style="position: absolute; bottom: 0;">
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" (click)="signUp()">Sign Up</ion-button>
      </ion-col>
    </ion-footer>
  </div>
</ion-content>