<!-- <ion-header>
  <ion-toolbar>
    <ion-title>user</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  
</ion-content> -->
<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light">
        <ion-icon slot="start" name="ios-arrow-back"></ion-icon>
        My Profile
      </ion-button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" src="../../assets/icon/img_avatar2.png"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed">
  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="../../assets/icon/img_avatar2.png" (click)="uploadImage()" alt="">
        <input style="display: none;" type="file" (change)="handleImage($event)">
      </div>
    </div>
    <div class="card-body">
      <div class="user-meta ion-text-center">
        <h3 class="playername">Roger Federer</h3>
        <h5 class="country">Switzerland</h5>
        <h6 class="ranking">Current ranking: <ion-chip>
            <ion-label>2</ion-label>
          </ion-chip>
        </h6>
      </div>
      <div class="button-container">
        <ion-button expand="full" color="primary">http://rogerfederer.com</ion-button>
        <ion-button expand="full" color="secondary">@RogerFederer on Twitter</ion-button>
        <ion-button expand="full" color="secondary">View profile at ATP</ion-button>
      </div>
    </div>
  </div>
</ion-content>